@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Loader animation */
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 15rem; */
	/* position: absolute; */
	/* bottom: 50%; */
	/* left: 40%; */
	transform: translateY(776%);
}
.panWrapper {
	width: 200px;
	height: fit-content;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	gap: 20px;
}

.pan {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: fit-content;
	animation: cooking 1.7s infinite;
}
@keyframes cooking {
	0% {
		transform: rotate(0deg);
		transform-origin: top right;
	}
	10% {
		transform: rotate(-4deg);
		transform-origin: top right;
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.food {
	position: absolute;
	width: 40%;
	height: 6px;
	background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
	left: 10px;
	border-radius: 50%;
	animation: flip 1.7s infinite;
	z-index: 99;
}
@keyframes flip {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-100px) rotate(180deg);
	}
	100% {
		transform: translateY(0px) rotate(360deg);
	}
}
.panBase {
	z-index: 3;
	width: 50%;
	height: 22px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	background: linear-gradient(to bottom, rgb(255, 255, 0), rgb(255, 215, 0));
}
.panHandle {
	width: 40%;
	background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
	height: 10px;
	border-radius: 10px;
}
.panShadow {
	width: 70px;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.21);
	margin-left: 15px;
	border-radius: 10px;
	animation: shadow 1.7s infinite;
	filter: blur(5px);
}
@keyframes shadow {
	0% {
		transform: scaleX(0.7);
	}
	50% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0.7);
	}
}
